@keyframes fadeFromBlack {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

img {
    width: 400px;
    height: 600px;
    display: block;
    margin: 10px auto;
    animation: fadeFromBlack 2s ease-in-out;

}