/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    background-color: #22092C;
    color: white;
    text-align: center;
    padding: 1em 0 0 0;
}

nav {
    background-color: #872341;
    display: flex;
    justify-content: space-around;
    gap: 1.5em;
    padding: 1em;
}

nav a {
    color: #ECF0F1;
    text-decoration: none;
    padding: .5em;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #2980B9;
    border-radius: 5px;
}


main {

    margin: 2em 2em;
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 2em;
}

.card {
    background-color: white;
    padding: 1.5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

.card h2 {
    text-align: center;
    background-color: #BE3144; 
    color: white;
    padding: 0.5em;
    text-align: center;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
    margin: -1em -1em 1em -1em; 
}

.content {
    display: flex;
    align-items: center;
    gap: 1em;
}

.profile-img {
    width: 200px;
    max-width: 200px;
    border-radius: 8px; 
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #22092C;
    color: #ECF0F1;
}
