/* temples.css */

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4a148c;
    color: white;
    padding: 1rem;
    display: grid;
  }
  
  nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}
  nav {
    display: flex;
	flex-direction: column;
  }


  h1 {
    display: inline-block;
  }

  nav {
    display: none;
  }

  #hamburger {
    display: block;
  }
  
  /* Main content */
  main {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  figure {
    margin: 0;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Footer */
  footer {
    background-color: #4a148c;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  