@media (min-width: 768px) {
    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    
    .hamburger {
      display: none;
    }
  
    nav {
        flex-direction: row;
    }

    nav a {
        display: inline-block;

	}
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
    }
  
    main {
      max-width: 1200px;
      margin: 0 auto;
    }

  }
  